nav{
    background-color: #F5F1EC;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 100%;
}
.navbar-collapse{
    background-color: #F5F1EC; /* Warna latar belakang untuk bagian collapsible (yang muncul saat toggler diklik) */
}
.navbar-brand{
    width: 15%;
}
body{
    background-color: #F5F1EC;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pic1LP {
    width: 40%;
    margin-bottom: 20px; /* Untuk memberikan ruang di antara gambar dan konten lainnya */
}


.navbar-nav .nav-link:hover {
    color: #6C7E46; /* Ubah warna teks saat dihover */
    font-weight: bold; /* Membuat teks menjadi bold saat dihover */
    text-decoration: underline; /* Menambahkan underline pada teks saat dihover */
}


