/* Profile */
.container {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 4%;
}

body {
    background-color: #F5F1EC;
}

.profile-header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-details {
    background-color: #EEE7E7;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    color: black;
    margin-bottom: 20px;
}

.profile-details a {
    display: block;
    color: black;
    padding: 8px;
    text-decoration: none;
}

.profile-details a.active {
    background-color: #F5F1EC;
    color: black;
}

.profile-details a:hover:not(.active) {
    background-color: #F5F1EC;
    color: black;
}

/* Recipe */
.card-abc {
    border: 1px solid #ABABAB;
    border-radius: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-container {
    height: 200px;
    width: 100%;
}

.card-img-container img {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    display: block;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.center-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: auto;
}

.button-container .btn {
    border-radius: 10px;
    width: 100px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn1 {
    background-color: #D12D2D;
    color: white;
}

.btn1:hover {
    background-color: #b95454;
}

.btn2 {
    background-color: #6C7E46;
    color: white;
}

.btn2:hover {
    background-color: #347f2e;
}

.modal-body img {
    margin-bottom: 20px;
}

.btn-delete {
    background-color: #48AA33;
    color: white;
}

.btn-cancle {
    background-color: #D12D2D;
    color: white;
}

/* Responsive adjustments */
@media (max-width: 992px) {
    .col-12.col-md-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 768px) {
    .col-12.col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
